n8n-workflows/web-search.json
{
  "name": "CLAWD OS \u2014 Web Search (Brave API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clawd-web-search",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "clawd-web-search"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.search.brave.com/res/v1/web/search?q={{ encodeURIComponent($json.query) }}&count={{ $json.count || 5 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Subscription-Token",
              "value": "={{ $env.BRAVE_SEARCH_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "brave-search",
      "name": "Brave Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.web?.results || [];\nreturn [{\n  json: {\n    query: $('Webhook').first().json.query,\n    count: results.length,\n    results: results.map(r => ({\n      title: r.title,\n      url: r.url,\n      description: r.description\n    }))\n  }\n}];"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Brave Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "966c85b2-99e0-461b-8a5a-4b749a97dc2f"
}